body {
    background-image:url('https://cdn.discordapp.com/attachments/489110031120334868/881802439085424671/nature-1630308457043-5791.jpg') ;
    background-repeat:no-repeat;
    background-size: cover;
    color:orange;

    height: 150vh;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
h1{
    font-size: 3.5em;
}

.countdown {
    display: inline-block;
    font-size: 1.7em;
    padding: 1em;
}

.countdown span {
    display: block;
    font-size: 5rem;
}
#div1 {
    z-index: 1;
    position: absolute;
}

#div1 {
    z-index: 1;
    position: absolute;
}