body {
    background-image:url('https://cdn.discordapp.com/attachments/489110031120334868/881802439085424671/nature-1630308457043-5791.jpg') ;
    background-repeat:no-repeat;
    background-size: cover;

}